/* PageNotFound.css */
.PageNotFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Occupies the full viewport height */
  width: 100vw; /* Occupies the full viewport width */
  background-color: #f4f4f4; /* A light background for contrast */
  color: #333; /* Darker text for readability */
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect the size */
}

.PageNotFound-container img {
  max-width: 90%;
  height: auto;
  margin-bottom: 2rem; /* Spacing below the image */
}

.PageNotFound-container h1 {
  font-size: 2.5rem;
  color: #d9534f; /* A color to stand out, like a warning/error color */
  margin-bottom: 0.5rem;
}

.Page-para {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  line-height: 1.5;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .PageNotFound-container h1 {
    font-size: 2rem;
  }
  .Page-para {
    font-size: 1rem;
    padding: 0 10px;
  }
}